* {
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-center {
    display: flex;
}

.darshan {
    text-align: right;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links li a{
    text-decoration: none;
}

.lal {

}
#bg-section{
    margin-top: 250px;
}