div {
  display: block;
  margin: 60px;
}

h3 {
  margin: 20px;
  display: inline;
  overflow: hidden;
}

#total {
  position: relative;
}

span {
  position: absolute;
  background-color: black;
  padding: 5px 10px;
  color: white;
  opacity: 0.5;
  border-radius: 6px;
  /* width: 5%; */
}
